<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keyword"  content="茶聊, 计算机, IT, Machine, Learning, 互联网, 编程, Scratch, 儿童学编程,  茶聊网站, 电脑玩家,  手机玩家, IT运维, 树莓派, 单片机, 闲聊 ">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!--post-cards CSS-->
		<!--<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">-->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

<link rel="alternate" type="application/rss+xml"
  href="feed.xml" title="茶聊">
    <!-- Custom Fonts -->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <!--<link rel="stylesheet" href="http://caibaojian.com/demo/reset.css">-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
	.ds-powered-by {
		display:none !important ;
	}
	.ds-post-toolbar .ds-sync{
		display:none !important ;
	}
    </style>
    
    
<!--百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?327b54fd3d69331f1ba2b9ea68234987";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
